SUPABASE_URL=https://kixkhkjaizemkynswmzs.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpeGtoa2phaXplbWt5bnN3bXpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyMTQ4OTM5MCwiZXhwIjoyMDM3MDY1MzkwfQ.yjhPVWV5BlimKmiebsT8GEeOaa4UFXyvo18w-gIp-bM
NEXT_PUBLIC_SOME_PUBLIC_VARIABLE="this is a public variable"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret

AUTH_GOOGLE_ID=509859376728-mlm5dokq0j4bbck48mpsauhd8o5fq8ev.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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